@model IEnumerable<TechSolutionsApplication.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>CategoriesList</h2>

<p>
    @Html.ActionLink("Create New", "CategoriesCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{ Html.RenderAction("CategoriesDelete", "Categories", new { id = item.Id });}
        </td>
    </tr>
}

</table>
