
<div >
    <h1> <big>About Us</big> </h1>
    <p class="mt-5">Tech Solutions is open source and works great as a Q&A, forum, knowledge base or customer support platform</p>
    <p>A platform to find the best answer to your question</p>
</div>

<div class="mt-5">
    <div class="card">
        <h5 class="card-header"><big><b>Where we work</b></big></h5>
        <div class="card-body">
            <h5 class="card-title"><big><b>We’re proud to be a remote company working across many timezones, with office in Indore,Madhya Pradesh</b></big></h5>
            <p class="card-text">.</p>
            <a href="#" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
</div>
<br />
<div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">TECH SOLUTIONS</div>
                <div class="card-body">
                    <h5 class="card-title">Questions</h5>
                    <p class="card-text">Help</p>
                    <p class="card-text">Contact Details</p>
                </div>

            </div>

        </div>
        <div class="col-sm-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">Company</div>
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">Cookie Settings</p>
                    <p class="card-text">Cookie Policy</p>
                    <p class="card-text">Terms of Service</p>
                </div>

            </div>

        </div>
        <div class="col-sm-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">MEDIA</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"><a>Blog</a></p>
                    <p class="card-text"><a>Facebook</a></p>
                    <p class="card-text"><a>Twitter</a></p>
                    <p class="card-text"><a>Linkedlin</a></p>
                    <p class="card-text"><a>Instagram</a></p>
                </div>

            </div>

        </div>
    </div>
</div>





