<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/Content/images/logo_blue_side_forwhite.png" alt="" height="70">
    <h1 class="display-5 fw-bold">Connect With Us</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">techsolutions@gmail.com</p>
        
    </div>
</div>